<div class="form-row text-center">
    <div class="col-12">
        <br><br><br>
        <h1>Bienvenidx</h1>
        <p>Aquí puedes acceder al registro de Edificios o Departamentos</p>
        <br><br><br>
        <div class="btn">
            <%= link_to 'Edificios', edificios_path, class: "btn btn-outline-danger btn-lg" %>
        </div>
        <div class="btn">
            <%= link_to 'Departamentos', departamentos_path, class: "btn btn-outline-secondary btn-lg" %>
        </div>
    </div>
</div>