<div class="form-row text-center">
    <div class="col-12">
        <br>
        <h1 class="text-center">Nuevo Edificio</h1>
        <br>
        <%= render 'form', apartment: @edificio %>
        <br>
        <%= link_to 'Regresar a Edificios', edificios_path, class: "btn btn-warning btn-lg"  %>
    </div>
</div>