// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#cuerpo {
    background: rgb(5,13,20);
    background: -moz-linear-gradient(35deg, rgba(5,13,20,1) 0%, rgba(5,4,6,1) 10%, rgba(5,4,6,1) 70%, rgba(52,3,15,1) 100%);
    background: -webkit-linear-gradient(35deg, rgba(5,13,20,1) 0%, rgba(5,4,6,1) 10%, rgba(5,4,6,1) 70%, rgba(52,3,15,1) 100%);
    background: linear-gradient(35deg, rgba(2,5,8,1) 0%, rgba(5,4,6,1) 15%, rgba(5,4,6,1) 70%, rgba(52,3,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050d14",endColorstr="#34030f",GradientType=1);
}