<div class="form-row text-center">
    <div class="col-12">
        <br>
        <h1 class="text-center">Nuevo Departamento</h1>
        <br><br>
        <%= render 'form', apartment: @departamento %>
        <br>
        <%= link_to 'Regresar a Departamentos', departamentos_path, class: "btn btn-secondary btn-lg"  %>
    </div>
</div>